body, html{
    margin:0;
    padding: 0;
    background-color:black;
}

header{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #39ca74;
}

span{
    color:#FFFFFF;
}


ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #FFFFFF;
    text-decoration: noen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color: #f0c330;
    transition: 0.5s;
}

.logo{
    height: 500px;
    width: 500px;
    position: relative;
    display: block;
    margin: 50px auto;
}

img{
    width: 100%;
    height: 100%;
}

img:hover{
    z-index: 100;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

img:hover{
    animation: scaleDown 0.4s linear;
}

@keyframes scale {
    0%{
        -webkit-transform: scale (1);
        transform: scale (1);
    }
    100%{
        -webkit-transform: scale (1.1);
        transform: scale (1.1);
    }
}

@keyframes scaleDown {
    0%{
        -webkit-transform: scale (1.1);
        transform: scale (1.1);
    }
    100%{
        -webkit-transform: scale (1.0);
        transform: scale (1.0);
    }
}